@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h5>Seja bem vindo ao Sistema!</h5>

<a href="/Agenda/GerarRelatorio" class="btn btn-primary btn-sm">
    Gerar Relatório de Compromissos
</a>

<br />