@model Projeto.Presentation.Mvc.Models.ClienteCadastroModel

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h5 class="page-header">
            Clientes
        </h5>
    </div>
</div>

<div class="text-danger">
    @Html.ValidationSummary()
</div>

@using (Html.BeginForm())
{
<div class="card">
    <div class="card-header font-weight-bold">Cadastro de Clientes</div>
    <div class="card-body">

        <div class="col-md-8">
            <label>Nome do Cliente:</label>
            @Html.TextBoxFor(model => model.Nome,
                new
                    {
                    @class = "form-control col-md-4",
                    @placehoder = "Digite aqui"
                })
        </div>

        <div class="col-md-8">
            <label>Email:</label>
            @Html.TextBoxFor(model => model.Email,
                new
                {
                    @class = "form-control col-md-4",
                    @placehoder = "Digite aqui"
                })
        </div>

        <div class="col-md-8">
            <label>CPF:</label>
            @Html.TextBoxFor(model => model.Cpf,
                new
                {
                    @class = "form-control col-md-4",
                    @placehoder = "Digite aqui"
                })
        </div>

        <div class="col-md-4 mt-2">

            <input type="submit" class="btn btn-success" value="Realizar Cadastro" />
        </div>
    </div>
</div>
}