
@{
    ViewData["Title"] = "Cadastro";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h5>Cadastro de Clientes</h5>
Preencha o formulário abaixo para realizar o cadastro.
<br />

<form>

    <label>Nome do Cliente:</label>
    <input type="text" class="form-control col-md-4"
           placeholder="Digite aqui" />
    <br />

    <label>Email:</label>
    <input type="text" class="form-control col-md-4"
           placeholder="Digite aqui" />
    <br />

    <label>CPF:</label>
    <input type="text" class="form-control col-md-4"
           placeholder="Digite aqui" />
    <br />

    <input type="submit" class="btn btn-success"
           value="Realizar Cadastro" />

</form>

