
@{    
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h5>Consulta de Clientes</h5>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Nome do Cliente</th>
            <th>Email</th>
            <th>CPF</th>
            <th>Operações</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="#" class="btn btn-primary btn-sm">Atualizar</a>
                <a href="#" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">Quantidade de clientes: 0</td>
        </tr>
    </tfoot>
</table>