
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <!-- Referencia dos arquivos CSS do Bootstrap -->
    <link href="~/css/bootstrap.css" rel="stylesheet" />

</head>
<body>

    <div class="container mt-3">
        <h3>Acesso ao Sistema</h3>

    </div>


    <!-- Referência doa arquivos JS (JavaScript) -->
    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
</body>
</html>
