
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>COTI Informática</title>

    <!-- folhas de estilo CSS do bootstrap -->
    <link href="~/css/bootstrap.css" rel="stylesheet" />

</head>
<body>

    <div class="container mt-3">

        <h3>Sistema de Controle de Clientes</h3>
        <p>Treinamento em C# WebDeveloper - COTI Informática</p>
        <ul>
            <li> <a href="/Cliente/Cadastro">Cadastrar Clientes</a> </li>
            <li> <a href="/Cliente/Consulta">Consultar Clientes</a> </li>
        </ul>
        <hr />

        @RenderBody()

    </div>

</body>
</html>
